<div class="account-container">

    <div class="content">

        <form action="/login" method="POST">

            <center><img src="iconos/Isotipo_Original.png" width="70%" height="auto" style="padding-bottom: 10px;" ></center>

            <div class="field">
                <input type="email" id="email" name="email" value="" placeholder="Correo" class="form-control" />
            </div> <!-- class="login username-field"  /field -->

            <div class="field">
                <input type="password" id="password" name="password" value="" placeholder="Contraseña" class="form-control" />

            </div> <!-- /password -->


            <div class="field" style="text-align: center;">
                <button class="button btn btn-init btn-lg btn-block ">INICIAR SESIÓN</button>
                <a href="/auth/google" class="btn btn-dark" style="margin-bottom: 10px !important;margin-top: 10px !important;"><span class="fa fa-google"></span> SignIn with Google</a>
                <div class="login-extra2" >
                    <a href="/registrop" style="color:#ffffff;">Aun no tienes cuenta? Registrate aqui</a>
                </div> <!-- /login-extra -->
            </div> <!-- .actions -->

        </form>

    </div> <!-- /content -->

</div> <!-- /account-container -->