<div class="account-container">

    <div class="content">

        <form action="/administrador/add" method="POST">

            <div style="text-align: center;"><img src="iconos/Isotipo_Original.png" width="80%" height="250"></div>

            <label style="color:#ffffff;">Crea tu cuenta ahora</label>

            <div class="field">
                <input type="email" id="email" name="email" value="{{email}}" placeholder="Correo" class="form-control" />
            </div>

            <div class="field">
                <input type="name" id="name" name="name" value="{{name}}" placeholder="Nombre Usuario" class="form-control" />
            </div> 

            <div class="field">
                <input type="password" id="password" name="password" value="" placeholder="Contraseña" class="form-control" />
            </div>

            <div class="field">
                <input type="password" id="cpassword" name="cpassword" value="" placeholder="Confirmar Contraseña" class="form-control" />
            </div>

            <div class="field">
                
                <button class="button btn btn-init btn-lg btn-block">REGISTRARSE</button>
                <div class="login-extra3">
                    <a href="/login" style="color:#ffffff;">Regresar</a>
                </div> <!-- /login-extra -->
            </div> <!-- .actions -->

        </form>

    </div> <!-- /content -->

</div> <!-- /account-container -->