{{#if exito}}
<div class="alert alert-success alert-dismissible fade show" style="width: 100% !important; margin-left: 0% !important;" role="alert">
  <strong >Felicidades!!</strong> {{exito}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if updated}}
<div class="alert alert-success alert-dismissible fade show" style="width: 100% !important; margin-left: 0% !important;" role="alert">
  <strong >Felicidades!!</strong> {{updated}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if deleted}}
<div class="alert alert-success alert-dismissible fade show" style="width: 100% !important; margin-left: 0% !important;" role="alert">
  <strong >Felicidades!!</strong> {{deleted}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#if errores}}
<div class="alert alert-danger alert-dismissible fade show" style="width: 100% !important; margin-left: 0% !important;" role="alert">
  <strong >Peligro!!</strong> {{errores}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
