<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-content">

      <div class="sidebar-header">
        <div class="user-info">
          {{#each logoneado}}
          {{#if img}}
          <img class="img_presentar" src={{img}}>
          <span style="color:#ffffff;" class="user-name">{{email}}</span>
          <span style="color:#ffffff;" class="user-role">Administrator</span>
          {{/if}}
          {{/each}}

        </div>
      </div>

      <div class="sidebar-menu">
        <div class="header-menu">
          <span>APP ACERIMALLAS</span>
        </div>

        <ul class="list-unstyled components">
          <li>
            <a href="/dashboard">
              <span>DASHBOARD</span>
            </a>
          </li>
          <li>
            <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">REPORTES</a>
            <ul class="collapse list-unstyled submenu" id="reportSubmenu">
              <li>
                <a href="#">VENTAS</a>
              </li>
              <li>
                <a href="#">PAGOS</a>
              </li>
              <li>
                <a href="#">SUGERENCIAS</a>
              </li>
              <li>
                <a href="#">PUNTUACIONES</a>
              </li>

            </ul>
          </li>

          <li>
            <a href="/producto/all">
              <span>PRODUCTOS</span>
            </a>
          </li>
          <li>
            <a href="/promocion/all">
              <span>PROMOCIONES</span>
            </a>
          </li>
          <li>
            <a href="/publicacion/all">
              <span>PUBLICACIONES</span>
            </a>
          </li>
          <li>
            <a href="/administradores/all">
              <span>ADMINISTRADORES</span>
            </a>
          </li>
          <li>
            <a href="/usuario/all">
              <span>USUARIOS</span>
            </a>
          </li>
          <li>
            <a href="/locales/all">

              <span>LOCALES</span>
            </a>
          </li>
          <li>
            <a href="#pedidoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">COTIZACIONES</a>
            <ul class="collapse list-unstyled submenu" id="pedidoSubmenu">
              <li>
                <a href="/pedido/pendiente">
                  <span>COTIZACIONES PENDIENTES</span>
                </a>
              </li>
              <li>
                <a href="/pedido/completo">
                  <span>COTIZACIONES COMPLETADAS</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/mensajes/all">
              <span>MENSAJERIA</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</div>