
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">
      <img src="iconos/logo2.png" width="150px" height="50px" class="d-inline-block align-top" loading="lazy">
      Administrador Movil
    </a>

    <div class="ml-auto">
      <a class="navbar-brand" href="/menu">
        <img src="iconos/inicio.png" width="25" height="20" alt="" loading="lazy">
      </a>
      <a class="navbar-brand" href="/mensajes">
        <img src="iconos/mensajes.png" width="25" height="20" alt="" loading="lazy">
      </a>
      <a href="/LogOut" style="color: black;">Cerrar Sesion</a>
    </div>
  </div>
</nav>
